<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <style>
        body {
            background-color: #445793;
        }
        /* #span-settings-svg {
            position: fixed;
            background-size: cover;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #settings-svg {
            animation: spin 3s linear infinite;
        }
        @keyframes spin {
            100% {
                transform: rotate(360deg);
            }
        } */
        
        #in-box {
            transition: 1s;
            color:#fff;
            /* border: 7px solid #fff; */
            /* border-radius: 12px; */
            /* padding: 12px 18px; */
            font-size: 2em;
            text-align:center;
            transform: rotateX(90deg);
        }
        #goBack:hover{
            background-color: #fff;
            color: rgba(0,0,0,0.8);
        }
        #goBack {
            height:2em;
            width:2em;
            border-radius:50%;
            font-size: 2em;
            background-color: transparent;
            color: #fff;
            border: none;
            outline: none;
            cursor:pointer;
            transition: 250ms;
        }
    </style>
</head>
<body>
    <img src="" height="200px" alt="avatar" id="myavatar">
    <div style="margin: 50px 600px;">
        <div id="in-box">Saved<br><span style="color: greenyellow;">&check;</span></div>
    </div>
    <span id="span-settings-svg">
        <svg xmlns="http://www.w3.org/2000/svg" width="70px" height="70px" viewBox="0 0 48 48" id="settings-svg" data-name="Layer 2"><defs><style>.cls-1{fill:#fff;stroke-linecap:round;stroke-linejoin:round;}</style></defs><path class="cls-1" d="M39.23,26a16.52,16.52,0,0,0,.14-2,16.52,16.52,0,0,0-.14-2l4.33-3.39a1,1,0,0,0,.25-1.31l-4.1-7.11a1,1,0,0,0-1.25-.44l-5.11,2.06a15.68,15.68,0,0,0-3.46-2l-.77-5.43a1,1,0,0,0-1-.86H19.9a1,1,0,0,0-1,.86l-.77,5.43a15.36,15.36,0,0,0-3.46,2L9.54,9.75a1,1,0,0,0-1.25.44L4.19,17.3a1,1,0,0,0,.25,1.31L8.76,22a16.66,16.66,0,0,0-.14,2,16.52,16.52,0,0,0,.14,2L4.44,29.39a1,1,0,0,0-.25,1.31l4.1,7.11a1,1,0,0,0,1.25.44l5.11-2.06a15.68,15.68,0,0,0,3.46,2l.77,5.43a1,1,0,0,0,1,.86h8.2a1,1,0,0,0,1-.86l.77-5.43a15.36,15.36,0,0,0,3.46-2l5.11,2.06a1,1,0,0,0,1.25-.44l4.1-7.11a1,1,0,0,0-.25-1.31ZM24,31.18A7.18,7.18,0,1,1,31.17,24,7.17,7.17,0,0,1,24,31.18Z"/></svg>
    </span>
    
    <form action="/api/register" method="post" id="credentials">
        <input type="text" name="fname" id="fname" placeholder="Enter full name" autocomplete="off">
        <input type="text" name="uname" id="uname" placeholder="Enter username" autocomplete="off">
        <input type="password" name="upass" id="upass" placeholder="Enter password">
        <button type="submit">Register</button>
    </form>
    <button type="submit" onclick="indexDBa('Emerald')">FETCH!</button>
    <!--form action="#" method="post" id="jobDescription">
        <fieldset>
            <legend>JSS 1</legend>
            <input type="checkbox" name="subjects" id="mth">
            <label for="mth" title="Mathematics">MTH</label>

            <input type="checkbox" name="subjects" id="mth">
            <label for="mth" title="English">ENG</label>
            
            <input type="checkbox" name="subjects" id="mth">
            <label for="mth" title="Social Studies">SOC</label>
        </fieldset>
        <fieldset>
            <legend>JSS 2</legend>
            <input type="checkbox" name="subjects" id="mth">
            <label for="mth" title="Mathematics">MTH</label>

            <input type="checkbox" name="subjects" id="mth">
            <label for="mth" title="English">ENG</label>
            
            <input type="checkbox" name="subjects" id="mth">
            <label for="mth" title="Social Studies">SOC</label>
        </fieldset>
    </form-->
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" viewBox="0 0 512 512" width="100" height="100" xml:space="preserve">
        <polygon style="fill:#F7B239;" points="393.167,153.597 256,137.784 244.748,142.358 139.108,137.784 118.82,137.784   69.554,153.597 0,153.597 0,198.042 32.848,198.042 32.848,458.864 61.827,458.864 61.827,375.785 450.173,375.785 450.173,458.864   479.152,458.864 479.152,198.042 512,198.042 512,153.597 "/>
        <path style="fill:#E6E6E6;" d="M285.539,109.165c-14.668,0-27.14,9.366-31.776,22.449c-4.944-13.118-17.6-22.449-32.451-22.449  h-82.203v44.432h112.718h4.161h133.006v-44.432H285.539z"/>
        <g>
            <polygon style="fill:#E09B2D;" points="15.917,153.597 24.445,153.597 31.834,153.597 31.834,198.042 29.792,198.042    27.989,198.042 3.845,198.042 2.043,198.042 0,198.042 0,153.597 4.324,153.597 7.387,153.597 8.65,153.597 15.916,153.597  "/>
            <rect x="32.848" y="198.042" style="fill:#E09B2D;" width="446.303" height="28.24"/>
        </g>
        <line style="fill:none;stroke:#333333;stroke-width:15;stroke-linejoin:round;stroke-miterlimit:10;" x1="255.987" y1="153.597" x2="256" y2="153.597"/>
        <g>
            <rect x="434.005" y="208.913" style="fill:#E09B2D;" width="16.173" height="166.872"/>
            <rect x="61.827" y="208.913" style="fill:#E09B2D;" width="16.173" height="166.872"/>
        </g>
        <path style="fill:#666666;" d="M131.578,141.96h263.873c3.213,0,5.82,2.605,5.82,5.82l0,0c0,3.213-2.605,5.82-5.82,5.82H131.578  c-3.213,0-5.82-2.605-5.82-5.82l0,0C125.758,144.564,128.363,141.96,131.578,141.96z"/>
        <path style="fill:#E54728;" d="M74.563,136.91H61.326c-18.12,0-32.861-14.747-32.861-32.874v-1.34  c0-18.126,14.741-32.873,32.861-32.873h13.237v18.785H61.326c-7.762,0-14.076,6.32-14.076,14.089v1.34  c0,7.768,6.314,14.089,14.076,14.089h13.237V136.91z"/>
        <path style="fill:#F95428;" d="M139.108,109.165v44.432H118.82H69.554V122.69V74.388v-14.64c0-3.652,2.96-6.612,6.612-6.612h56.33  c3.652,0,6.612,2.96,6.612,6.612V109.165z"/>
        <path style="fill:#E54728;" d="M94.024,109.165v44.432h-7.137H69.554V122.69V74.388v-14.64c0-3.652,2.96-6.612,6.612-6.612h17.858  V109.165z"/>
    </svg>
    <div class="arms" id="Classic">classic arm</div>
    <div class="arms" id="Emerald">emerald arm</div>
    <button type="button" onclick="indexDB()">indexDB</button>

    <button type="button" id="goBack">&#8617;</button>
    <form action="#" name="test" id="test">
        <input type="text" name="sk" id="sk">
        <input type="text" name="sl" id="sl">
        <input type="tel" name="phone" id="phone" placeholder="Phone" maxlength="11">
        <input type="file" name="avatar" id="avatar">
        <!-- <input type="date" name="dt" id="dt"> -->
        <button id="submit" type="submit">submit</button>
    </form>
    <!-- U+021A9 UNICODE &#x21a9; HEX CODE &#8617; HTML CODE &larrhk; HTML ENTITY \21A9 --> <!-- U+021D0 UNICODE &#x21d0;
HEX CODE
&#8656;
HTML CODE
&lArr;
HTML ENTITY
\21D0 -->

<!-- document.querySelectorAll('form')[2].querySelectorAll('input, select').forEach() -->


    <script>
        let students = {};
        // document.getElementById('dt').addEventListener('blur', (e) => {
        //     let dt = Date.now() - new Date(e.target.value);
        //     let age = new Date(dt).getFullYear() - 1970;
        //     console.log(age);
        // })
        document.querySelector('#avatar').addEventListener('change', (e) => {
            let fr = new FileReader();
            let avatar = e.target.files[0];
            console.log("Size: ", e.target.files[0].size);

            fr.addEventListener('load', (e) => {
                document.getElementById('myavatar').setAttribute('src', fr.result)
                // console.log("Base64 string of file: ", fr.result);
            })

            fr.readAsDataURL(avatar);
        })
        document.querySelector('form#test').addEventListener('submit', (e) => {
        /*
            e.preventDefault();
            for (i = 0; i < document.forms.test.elements.length - 1; i++) {
                students[e.srcElement[i].id] = e.srcElement[i].value;
                // console.log(i)
            }
            console.log(students);
            */
        });
    </script>
</body>
</html>